<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/contact">
        <div>
            <label>Email</label>
            <input type="email" name="email">
        </div>

        <div>
            <label>Phone</label>
            <input type="tel" name="phone">
        </div>
        
        <div>
            <label>Name</label>
            <input type="text" name="name">
        </div>

        <div>
            <label>Message</label>
            <textarea name="message" id="" cols="30" rows="10">
            </textarea>
        </div>

        <div>
            <input type="submit" value="Contact">
        </div>
        
    </form>
</body>
</html>